body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: yellowgreen;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 70px;
    text-align: center;
    justify-content: center;
}